@model Forums

@{
    ViewData["TITLE"] = "Forum Post";
}

<h1>Forum Posts</h1>
<div>
    Post Topic:
    @Model.PostTopic;
    Post:
    @Model.PostText;
    User Name:
    @Model.UserName.UserName;
    Post Rating:
    @Model.PostRating;
    Date:
    @Model.Date;
</div>
