@model Forums

@{
    ViewData["TITLE"] = "Forum Post";
}


@if (Model != null)
{
    <div>
        <h1>Forum Posts</h1>
        <strong>Post Topic</strong><br />
        @Model.PostTopic<br />
        <strong>Post</strong><br />
        @Model.PostText<br />
        <strong>User Name</strong><br />
        @Model.UserName.UserName<br />
        <strong>Post Rating</strong><br />
        @Model.PostRating<br />
        <strong>Date</strong><br />
        @Model.Date
    </div>
}

