@model List<ForumPosts>

@{
    ViewData["TITLE"] = "Forum Posts";
}

<div>
    <h2>Discussion Forum</h2>
   @foreach (ForumPosts post in Model)
   {
    <p>
        Post Topic:
        @post.PostTopic;
        Post:
        @post.PostText;
        User Name:
        @post.UserName;
        Post Rating:
        @post.PostRating;
        Date:
        @post.Date;
    </p>
   }
</div>
